@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(0deg, #34558b 0%, #3a225c 100%); */
    background: radial-gradient(circle at center, #34558b 0%, #4b0082 100%);
    background-repeat: no-repeat;
    min-height: 100vh;    
    font-family: "Montserrat", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(186, 180, 180, 0.2);
    border-radius: 10px;
    color: #fff ;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    backdrop-filter: blur(150px);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
    gap: 20px;
    
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-style: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
    border-radius: 20px;
    border: 2px solid  rgba(186, 180, 180, 0.2);
}

.input-box input::placeholder {
    color: #bdbaba
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    /* caso queira centralizar algum item 
    top: 50%;
    transform: translatey(-50%); */
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot  a{
    text-decoration: none;
    color: #fff;
}

.remember-forgot  a:hover{
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid #efeded;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login:hover{
    background: transparent;
    border: 2px solid #9e9b9b;
    transition: 0.5s;
    color: #d2d2d2;
}

.register-link {
    font-style: italic;
    text-align: center;
    font-size: 14px;
    margin: 15px 15px 20px;
}

.register-link a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.register-link a:hover{
    text-decoration: underline;
}

